.sm__container {
    background-color: var(--color-zinc-900);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 8px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    border-color: var(--color-gray-500) ;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.sm__store {
    position: relative;
}

.sm__trust-fact {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;

    background: var(--color-lime-400);
    color: #000;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    border-radius: 999px;
}

.sm__trust-fact > span {
  color: #000;
}

.sm__store-logo {
  width: 150px;
  border: 3px solid var(--color-lime-400);
  border-radius: 16px;
  display: block;
  margin: 0 auto;
}

.sm__name-container > span {
    display: block;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}