.s__container {
    margin: 0 5%;
}

.s__container h3 {
    margin: 24px 0 20px;
    font-size: 2.6rem;
    font-weight: 700;
    color: #e5e7eb;
}

.s__stats-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    padding: 32px;
}